*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
}
body{
    background-color: #f0f0f0;
}